
#body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

header {
  height: 75px;

  font-family: var(--font-primary);

}

main {
  flex: 1;
  font-family: var(--font-secondary);
}

footer {
  height: 75px;

  font-family: var(--font-tertiary);
}
